* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #f6f6f6;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

input, button {
    outline: none;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header {
    height: 942px;
    margin-bottom: 150px;
}

.head-blocks {
    display: flex;
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -1;
}

.head-block1 {
    width: 1170px;
    height: inherit;
    position: relative;
    flex: 2;
    z-index: -1;
}

.head-block1 img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.head-block1 img:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
}

.head-block2 {
    flex: 1;
    height: inherit;
    background: #176aa5;
    z-index: -1;
}

nav {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.left-nav {
    width: 899px;
}

.right-nav {
    width: 450px;
}

.dropbtn {
    background: none;
    color: white;
    border: none;
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: #176aa5;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}  
.dropdown-content a:hover {
    background-color: white;
    color: #176aa5;
}

.dropdown:hover .dropdown-content {display: block;}

.nav-links {
    list-style: none;
    font-size: 13px;
}

.nav-links svg {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

.left-nav img {
    width: 60px;
    vertical-align: middle;
}

.nav-btn {
    cursor: pointer;
    padding: 5px 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    background: white;
    color: #176aa5;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    text-align: left;
    margin: 0 5px;
}

.header-carusel {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.header-content p {
    padding: 12.5px 0;
}

.header-content a {
    display: inline-block;
    margin-top: 25px;
}

header .title-row {
    padding: 55px 0;
    margin-top: 50px;
}
header .title-row .left-title p:first-child {
    padding-right: 60px;
}

.social-btn {
    display: block;
    border-radius: 50%;
}

.social-btn svg {
    width: 25px;
    height: 25px;
    background: #176aa5;
}

.svg-fill-blue path{
    fill: #176aa5;
    width: 20px;
    height: auto;
}

.svg-fill-white path{
    fill: white;
    width: 20px;
    height: auto;
}

.icons {
    margin-right: 10px;
}

.social-btn svg * {
    fill: white;
}

.right-title > a {
    padding-left: 10px;
}

.header-content .caru-btn-div {
    padding-top: 115px;
}

.conference {
    margin-bottom: 140px;
}

.publication {
    margin-bottom: 125px;
}

.senat-meeting {
    margin-bottom: 150px;
}

.mediatecy {
    margin-bottom: 145px;
}

.useful-links {
    margin-bottom: 70px;
}

.main-titles {
    font-size: 20px;
    font-weight: bold;
    padding-right: 50px;
}

.title-row {
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    padding: 5px 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    background: #176aa5;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.card-block {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-btn img{
    width: 20px;
}

.main-cards {
    width: 23%;
    max-height: 400px;
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.main-cards:first-of-type {
    margin-left: 0;
}

.main-cards:last-child {
    margin-right: 0;
}

.main-card2:first-of-type {
    margin-left: 0;
}

.main-card2:last-child {
    margin-right: 0;
}

.card-img {
    width: 100%;
}

.card-detail {
    max-height: 190px;
    padding: 25px 0;
}

.main-card2 {
    padding: 30px 20px;
}

.card3-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card3-div:first-child {
    margin: 0 35px 0 0;
}

.card-block2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-card3 {
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.card3-day {
    padding: 10px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    background: #176aa5;
    color: white;
    font-size: 12px;
    margin-top: -20%;
}

.card3-day span {
    font-size: 15px;
}

.card3-event {
    width: 30%;
    background: white;
    padding: 10px;
    margin: 0 0 0 35px;
}

.event {
    padding: 25px 20px;
}

.card3-day hr {
    font-size: 20px;
}

.card-block22 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-title {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-title a {
    padding: 0 30px;
}

.right-title{
    display: flex;
}

.media-carousel {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.dashed {
    width: 180px;
    height: 220px;
    background: #176aa5;
}

.dashed:last-child {
    margin-left: 5px;
}

.dashed:first-child {
    margin-right: 5px;
}

.caru-img {
    height: 220px;
    margin: 0 5px;
    background: white;
    flex: 0 0 300px;
    box-shadow: 0 0 30px rgba(0,0,0,.12);
}

.caru-circles {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.caru-btn-div {
    display: flex;
    align-items: center;
}

.caru-btn-div .carusel-btn:first-of-type {
    margin-right: 10px;
}

.caru-btn-div .carusel-btn:last-of-type {
    margin-left: 10px;
}

.circle {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    background: white;
    border: 1px #176aa5 solid;
}

.selected-circle {
    background: #176aa5;
}

.carusel-btn {
    border-radius: 50%;
    background: white;
    padding: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.carusel-btn svg{
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.caru-btn-div .circle {
    margin: 0 10px;
}

.useful-links .main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
}

footer {
    background: #176aa5;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.prava {
    padding: 15px 0;
}

.footer-details *{
    padding: 10px 0;
    color: white;
}